<h1>Person Lookup</h1>

<div id="distribution_status">
</div>
<div class="distribution_form">
  <%= form_tag distribution_personlookup_path, :method => :get do %>
    Swipe card or type NetID <%= text_field_tag(:query, nil, options = {:size => 12, :maxlength => 12}) %>
    <p>
    When the client swipes their card, we'll figure out who they are. Then we'll create some handy links for you:
    <ol>
      <li>Their Yale Phonebook entry</li>
      <li>Open a Service Now incident with this person pre-populated as the client.</li>
    <ol>
    </p>
  <% end %>
</div>

<% if @name %>
  <div class="">
    <h4>Found <%= @name %>!</h4>
      <%= link_to "Yale Phonebook Entry", @phonebook_destination_url, :class => "btn", :target => "_blank" %>
      <%= link_to "New SN Incident", @sn_destination_url, :class => "btn", :target => "_blank" %>
  </div>
<% end %>