<div class="col-md-12">
  <h1>Person Lookup</h1>
</div>

<div class="col-md-6">
  <div class="panel panel-primary">
    <div class="panel-heading ">Person Lookup</div>
    <div class="panel-body">
      <div class="text-center">
        <%= form_tag distribution_personlookup_path, :method => :get do %>
          <div class="spacedout">
            <strong class="spacedout">Card Swipe</strong> or <strong class="spacedout">NetID</strong> or <strong class="spacedout">Yale Email</strong><br>
          </div>
          <br>
          <div class="col-md-6 col-centered">
            <div class="input-group">
              <%= text_field_tag(:query, nil, :autocomplete => 'off', class: 'form-control') %>
              <span class="input-group-btn">
                <%= submit_tag "Submit", :class => "btn btn-default" %>
              </span>
            </div>
          </div>
        <% end %>
      </div>
      <br><br>
      <p>
      When a client swipes their card, we'll figure out who they are. Then we'll create some handy links for you:
      </p>
      <ol>
        <li>Their Yale Phonebook entry</li>
        <li>Open a Service Now incident with this person pre-populated as the client.</li>
      </ol>
    </div>
  </div>
</div>

<% if @name %>
  <div class="col-md-6">
    <div class="panel panel-info">
      <div class="panel-heading ">Lookup Result</div>
      <div class="panel-body">
        <h4><%= @name %></h4>
        <h5>Affiliation: <%= @affiliation %></h5>
        <br>
        <div class="btn-group">
          <div class="btn-group">
            <%= link_to @phonebook_destination_url, :class => "btn btn-default", :target => "_blank" do %>
              <span class="glyphicon glyphicon-search"></span> Yale Phonebook Entry
            <% end %>
          </div>
          <div class="btn-group">
            <%= link_to @sn_destination_url, :class => "btn btn-default", :target => "_blank" do %>
              <span class="glyphicon glyphicon-plus"></span> Service Now Incident
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>