<%= simple_form_for([@event, @attendance_entry]) do |f| %>
  <%= f.error_notification %>

  <div class="row section">
    <div class="col-md-6">
      <%= f.input :first_name %>
      <%= f.input :nickname %>
      <%= f.input :last_name %>
      <%= f.input :netid %>
    </div>
    <div class="col-md-6">
      <%= f.input :email %>
      <%= f.input :telephone %>
      <%= f.input :upi, label: 'UPI' %>
      <%= f.hidden_field :event_id, value: @attendance_entry.event.id %>
    </div>
  </div>

  <div class="row section">
    <div class="col-md-12">
      <%= f.button :submit, class: "btn btn-default" %>
    </div>
  </div>
<% end %>
