<ol class="breadcrumb">
  <li><%= link_to "Events", events_path %></li>
  <li><%= link_to @attendance_entry.event.title, event_attendance_entries_path(@attendance_entry.event) %></li>
  <li><%= link_to @attendance_entry.name, attendance_entry_path(@attendance_entry) %></li>
  <li>Edit</li>
</ol>
<h1><%= @attendance_entry.name %> <small>Edit</small></h1>

<%= render 'form' %>

<%= link_to 'Show', @attendance_entry, class: "btn btn-default" %>