<%= raw breadcrumbs('home', 'events', 'event') %>

<h1><%= @event.title %> <small>Attendance List</small></h1>

<div class="row">
  <div class="col-md-12">
  </div>
</div>

<div class="row section">
  <div class="col-md-12">
    <div class="btn-group">
      <%= link_to event_swipe_path(@event), :class => "btn btn-primary" do %>
        <span class="glyphicon glyphicon-credit-card"></span> Event Swipe-In
      <% end %>
      <%= link_to event_attendance_entries_path(@event, :format => :csv), :class => "btn btn-default" do %>
        <span class="glyphicon glyphicon-download-alt"></span> Spreadsheet
      <% end %>
      <%= link_to edit_event_path(@event), :class => "btn btn-default" do %>
        <span class="glyphicon glyphicon-pencil"></span> Edit Event
      <% end %>
    </div>

    <div class="pull-right">
      <span id="distribution_count" class="badge"><%= @count %></span> recorded
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table id="attendance_entries_table" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>First name</th>
          <th>Last name</th>
          <th>Upi</th>
          <th>Netid</th>
          <th>Email</th>
          <th style="min-width: 100px">Swipe-In Time</th>
          <th></th>
          <th style="min-width: 138px"></th>
        </tr>
      </thead>

      <tbody>
        <% @attendance_entries.each do |attendance_entry| %>
          <tr>
            <td><%= attendance_entry.first_name %></td>
            <td><%= attendance_entry.last_name %></td>
            <td><%= attendance_entry.upi %></td>
            <td><%= attendance_entry.netid %></td>
            <td><%= attendance_entry.email %></td>
            <td><%= attendance_entry.swipe_time %></td>
            <td>
              <div class="btn-group">
                <%= link_to 'More Details', attendance_entry_path(attendance_entry), :class => "btn btn-default"  %>
              </div>
            </td>
            <td>
              <div class="btn-group">
                <%= link_to 'Edit', edit_attendance_entry_path(attendance_entry), :class => "btn btn-default"  %>
              </div>
              <div class="btn-group">
                <%= link_to 'Delete', attendance_entry_path(attendance_entry), method: :delete, data: { confirm: 'Are you sure? This cannot be undone.' }, :class => "btn btn-danger"  %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br><br>

    <%= link_to "Wipe Attendance", event_wipe_attendance_path, method: :delete, data: { confirm: 'Are you sure? This permanently removes all attendance entries for this event.'}, :class => "btn btn-danger pull-right" %>
  </div>
</div>
