<ol class="breadcrumb">
  <li><%= link_to "Events", events_path %></li>
  <li><%= @event.title %></li>
</ol>

<h1><%= @event.title %> <small>Attendance List</small></h1>

<p>
  This table shows only the most useful Yale Phonebook (LDAP) attributes - you can see more details in two ways:
  <ol>
    <li>For an individual you can view <strong>More Details</strong> to see a lot more about them</li>
    <li>You can <strong>download the CSV file</strong> to see all of the information. CSV is a "comma separated values" file, and you can open it right in Microsoft Excel.</li>
  </ol>
</p>

<div class="row">
  <div class="col-md-12">
      <%= link_to edit_event_path(@event), :class => "btn btn-default" do %>
        <span class="glyphicon glyphicon-pencil"></span> Edit Event
      <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="btn-group">
      <%= link_to event_swipe_path(@event), :class => "btn btn-primary" do %>
        <span class="glyphicon glyphicon-credit-card"></span> Event Swipe-In
      <% end %>
      <%= link_to event_attendance_entries_path(@event, :format => :csv), :class => "btn btn-default" do %>
        <span class="glyphicon glyphicon-download-alt"></span> Download CSV
      <% end %>
    </div>
    <div class="pull-right">
      <span id="distribution_count" class="badge"><%= @count %></span> recorded
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Upi</th>
            <th>Netid</th>
            <th>Email</th>
            <th>Swipe-In Time</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @attendance_entries.each do |attendance_entry| %>
            <tr>
              <td><%= attendance_entry.first_name %></td>
              <td><%= attendance_entry.last_name %></td>
              <td><%= attendance_entry.upi %></td>
              <td><%= attendance_entry.netid %></td>
              <td><%= attendance_entry.email %></td>
              <td><%= attendance_entry.swipe_time %></td>
              <td>
                <div class="btn-group">
                  <%= link_to 'More Details', attendance_entry_path(attendance_entry), :class => "btn btn-default"  %>
                  <%= link_to 'Edit', edit_attendance_entry_path(attendance_entry), :class => "btn btn-default"  %>
                </div>
                <div class="btn-group">
                  <%= link_to 'Delete', attendance_entry_path(attendance_entry), method: :delete, data: { confirm: 'Are you sure? This cannot be undone.' }, :class => "btn btn-danger"  %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <br><br>

    <%= link_to "Wipe Attendance", event_wipe_attendance_path, method: :delete, data: { confirm: 'Are you sure? This permanently removes all attendance entries for this event.'}, :class => "btn btn-danger pull-right" %>
  </div>
</div>