<ol class="breadcrumb">
  <li><%= link_to "Events", events_path %></li>
  <li><%= link_to @event.title, event_attendance_entries_path(@event) %></li>
  <li>New Entry</li>
</ol>
<h1><%= @event.title %> <small>New Attendance Entry</small></h1>

<%= render 'form' %>

<%= link_to 'Back', event_attendance_entries_path %>
