<ol class="breadcrumb">
  <li><%= link_to "Events", events_path %></li>
  <li><%= link_to @attendance_entry.event.title, event_attendance_entries_path(@attendance_entry.event) %></li>
  <li><%= @attendance_entry.name %></li>
</ol>

<h1><%= @attendance_entry.name %> <small>Details</small></h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @attendance_entry.first_name %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @attendance_entry.nickname %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @attendance_entry.last_name %>
</p>

<p>
  <strong>Upi:</strong>
  <%= @attendance_entry.upi %>
</p>

<p>
  <strong>Netid:</strong>
  <%= @attendance_entry.netid %>
</p>

<p>
  <strong>Email:</strong>
  <%= @attendance_entry.email %>
</p>

<p>
  <strong>School:</strong>
  <%= @attendance_entry.school %>
</p>

<p>
  <strong>College name:</strong>
  <%= @attendance_entry.college_name %>
</p>

<p>
  <strong>College abbreviation:</strong>
  <%= @attendance_entry.college_abbreviation %>
</p>

<p>
  <strong>Class year:</strong>
  <%= @attendance_entry.class_year %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @attendance_entry.telephone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @attendance_entry.address %>
</p>

<%= link_to 'Edit', edit_attendance_entry_path(@attendance_entry) %> |
<%#= link_to 'Back', event_attendance_entries_path %>
