<h1>Event Attendance List</h1>

<%= link_to 'Event Swipe-In', distribution_index_path, :class => "btn btn-primary" %>
<%= link_to 'Manually Add a New Entry', new_student_path, :class => "btn btn-default" %>
<%= link_to 'Download as CSV', students_path(:format => :csv), :class => "btn pull-right" %>


<table class="table">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Netid</th>
      <th>Class year</th>
      <th>Id number</th>
      <th>Upi</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.first_name %></td>
        <td><%= student.last_name %></td>
        <td><%= student.netid %></td>
        <td><%= student.class_year %></td>
        <td><%= student.id_card_number %></td>
        <td><%= student.yale_upi %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Clear Event", clear_all_students_path, method: :delete, data: { confirm: 'Are you sure? This wipes all entries from the database.'}, :class => "btn btn-danger" %>