<h1>Event Attendance List</h1>

<%= link_to 'Download as CSV', students_path(:format => :csv) %>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Netid</th>
      <th>Class year</th>
      <th>Id number</th>
      <th>Upi</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.first_name %></td>
        <td><%= student.last_name %></td>
        <td><%= student.netid %></td>
        <td><%= student.class_year %></td>
        <td><%= student.id_card_number %></td>
        <td><%= student.yale_upi %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path %>
