<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>Netid:</strong>
  <%= @student.netid %>
</p>

<p>
  <strong>Class year:</strong>
  <%= @student.class_year %>
</p>

<p>
  <strong>Id number:</strong>
  <%= @student.id_card_number %>
</p>

<p>
  <strong>Upi:</strong>
  <%= @student.yale_upi %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
