<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="col-md-6">
    <%= f.input :netid, disabled: true %>
    <%= f.input :first_name %>
    <%= f.input :nickname %>
    <%= f.input :last_name %>
    <%= f.input :email %>

    <%= f.button :submit %>
  </div>
<% end %>