<%= form_for @user, html: { class: "form-horizontal center" } do |f| %>
  <div class = "form-group">
    <%= f.label 'First Name', class: 'col-md-4 control-label' %>
    <div class = "col-md-8">
      <%= f.text_field :first_name, placeholder: 'First Name', error: '', size: 60 %>
    </div>
  </div>
  <div class = "form-group">
    <%= f.label 'Last Name', class: 'col-md-4 control-label' %>
    <div class = "col-md-8">
      <%= f.text_field :last_name, placeholder: 'Last Name', error: '', size: 60 %>
    </div>
  </div>
  <div class = "form-group">
    <%= f.label 'Email', class: 'col-md-4 control-label' %>
    <div class = "col-md-8">
      <%= f.text_field :email, placeholder: 'Email', error: '', size: 60 %>
    </div>
  </div>
  <%= f.submit class: "btn btn-primary"%>
<% end %>
