<div class = "col-md-8">
  <%= simple_form_for @user do |f| %>
    <%= f.label 'First Name'%>
    <%= f.text_field :first_name, error: '', class: 'form-control' %>
    <%= f.label 'Last Name'%>
    <%= f.text_field :last_name, error: '', class: 'form-control' %>
    <%= f.label 'Email' %>
    <%= f.text_field :email, error: '', class: 'form-control'%>
    <br />
    <%= f.submit class: "btn btn-primary"%>
  <% end %>
</div>
