<div class = "col-md-10">
  <%= simple_form_for @event do |f| %>
    <%= f.label 'Title'%>
    <%= f.input :title, label: false, error: '', input_html: { class: 'form-control' }%>
    <p><small>This will be displayed on the swipe-in screen in large text.</small></p> 
    <%= f.label 'Description'%>
    <%= f.input :description, label: false, error: '', input_html: { class: 'form-control' }%>
    <p><small>This will be displayed on the swipe-in screen in smaller text. You might tell attendees how you will use their email/netid, or what they should do after swiping in.</small></p>
    <%= f.submit class: "btn btn-yale"%>
  <% end %>
</div>