<%= button_to 'Back to Dashboard', root_path, method: :get, :class => 'btn btn-secondary' %>
<br>

<%= form_for @event, html: { class: "form-horizontal center" } do |f| %>
  <div class = "form-group">
    <%= f.label 'Title', class: 'col-md-4 control-label' %>
    <div class = "col-md-8">
      <%= f.text_field :title, placeholder: 'Title', error: '', size: 60 %>
    </div>
  </div>
  <div class = "form-group">
    <%= f.label 'Description', class: 'col-md-4 control-label' %>
    <div class = "col-md-8">
      <%= f.text_area :description, placeholder: 'Description', error: '', cols: 60, rows: 5 %>
    </div>
  </div>
  <%= f.submit class: "btn btn-primary"%>
<% end %>
