<%= simple_form_for(@event, wrapper: :bootstrap, html: {class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-input">
    <%= f.input :title %>
    <%= f.input :description, as: :text %>
    <%= f.association :users, label_method: :full_name_with_netid %>
    <%#= f.association :attendance_entries %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
