<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>

  <div class="col-md-6">
    <%= f.input :title %>
    <%= f.input :description, as: :text %>
    <%= f.association :users, label_method: :full_name_with_netid %>

    <%= f.button :submit %>
  </div>
<% end %>
