<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>

  <div class="col-md-6">
    <%= f.input :title, label: "Event Title", hint: "This will be displayed on the swipe-in screen in large text." %>
    <%= f.input :description, as: :text, label: "Instructions for Attendees", hint: "This will be displayed on the swipe-in screen in smaller text. You might tell attendees how you will use their email/netid, or what they should do after swiping in." %>

    <div id="swipr-event-admin-selector">
      <select multiple required class="select" name="event[user_ids][]">
        <% @event.users.each do |user| %>
          <option selected="selected" value="<%= user.id %>"><%= user.full_name_with_netid %></option>
        <% end %>
      </select>
    </div>
    <%= f.button :submit %>
  </div>
<% end %>
