<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>

  <div class="col-md-6">
    <%= f.input :title, label: "Event Title", hint: "This will be displayed on the swipe-in screen in large text." %>
    <%= f.input :description, as: :text, label: "Instructions for Attendees", hint: "This will be displayed on the swipe-in screen in smaller text. You might tell attendees how you will use their email/netid, or what they should do after swiping in." %>
    <%= f.association :users, collection: User.order(:last_name), label_method: :full_name_with_netid, label: "Event Admins", hint: "You can select multiple people with [ctrl+click] (Windows) or [cmd+click] (OS X). Be careful you don't remove yourself (unless you really mean to)." %>

    <%= f.button :submit %>
  </div>
<% end %>
