<br/>
<div class = "text-center">
  <h1>Edit Event: <%= @event.title %></h1>
</div>
<div class = "container">
  <%= render 'events/form' %>
  <br/>
  <br/>
  <div id='event-form'>
    <div id='user-event-form'>

        <div class = "row">
          <div class = "col-sm">
            <fieldset id='remove-organinzer'>
              <h3>Event Organizers</h3>
              <% @user_events.each do |user_event| %>
                <div id= "remove-<%= user_event.user.username %>">
                  <div class = "row justify-content-between">
                    <div class = "col-sm-4 other">
                      <%= user_event.user.username %>
                    </div>
                    <div class = "col-sm-8 other2">
                      <%= link_to 'X',
                      event_user_event_path(user_event.event, user_event, user_event.id),
                      method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger with-border", aria: { label: 'Remove Organizer' } %>
                    </div>
                  </div>
                </div>
              <% end %>
            </fieldset>
          </div>
        </div>

        <br/>
        <br/>

        <div class = "row">
          <div class = "col-sm">
            <fieldset id='add-organizer'>
              <div class='p-3'>
              <%= form_for [@event, @user_event] do %>
                <%= form_tag event_user_events_path(@event, @user_event) do %>
                  <%= text_field_tag :organizer, '', :class => 'p-2' %>
                  <%= submit_tag 'Add Organizer', :class => 'btn btn-secondary' %>
                <% end %>
              <% end %>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
