<div class = "text-center">
  <h1>Edit Event: <%= @event.title %></h1>
</div>

<div class = "container">
  <%= render 'events/form' %>
  <br/>
  <div id='user-event-form'>
    <h3>Event Organizers</h3>
      <div class="container">
        <table aria-label="Event Organizers" class="event-organizers-table col-md-6">
          <thead>
            <tr>
              <th scope = "col">Name</th>
              <th scope = "col">NetId</th>
              <th scope = "col"></th>
            </tr>
          </thead>
          <tbody>
            <% @user_events.each do |user_event| %>
              <tr id= "remove-<%= user_event.user.username %>">
                <th scope = "row" data-role="Full Name"><%= user_event.user.full_name %></th>
                <td data-role = "NetId"><%= user_event.user.username %></td>
                <td data-role = "Remove Organizer">
                  <%= link_to 'X', event_user_event_path(user_event.event, user_event, user_event.id),
                  method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger with-border", aria: { label: 'Remove Organizer' } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div>
          <%= form_tag event_user_events_path(@event, @user_event) do %>
            <%= text_field_tag :organizer, '', placeholder: 'NetID', :class => 'p-2' %>
            <%= submit_tag 'Add Organizer by NetID', :class => 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
