
<div class="container text-center p-3">
  <div class='btn-group' role="group">
    <%= button_to 'Back to Dashboard', dashboard_path, method: :get, :class => 'btn btn-primary mr-1' %>
    <%= button_to 'Attendee List', event_attendances_path(@event), method: :get, :class => 'btn btn-primary mr-1' %>
    <%= button_to 'Edit Event', edit_event_path(@event), method: :get, :class => 'btn btn-primary mr-1' %>
  </div>
  <br><br>

  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card shadow text-center">
        <div class="card-header text-white bg-yale">
          <h3><b>Check in for <%=@event.title%></b></h3>
        </div>
        <div class="card-body">
          <p><%=@event.description%></p>
          <div class='p-1'>
            <p><b>Card Swipe</b> or <b>Card Tap</b> or <b>NetID</b></p>

            <%= form_tag event_attendances_path(@event) do %>
              <%= text_field_tag :search_param, '', autofocus: true, :class => 'p-2' %>
              <%= submit_tag 'Check In', :class => 'btn btn-primary' %>
            <% end %>
            <br>
            <p><%= @event.attendances.size %> Recorded</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
