<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @event_attendance_entry.first_name %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @event_attendance_entry.nickname %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @event_attendance_entry.last_name %>
</p>

<p>
  <strong>Upi:</strong>
  <%= @event_attendance_entry.upi %>
</p>

<p>
  <strong>Netid:</strong>
  <%= @event_attendance_entry.netid %>
</p>

<p>
  <strong>Email:</strong>
  <%= @event_attendance_entry.email %>
</p>

<p>
  <strong>School:</strong>
  <%= @event_attendance_entry.school %>
</p>

<p>
  <strong>College name:</strong>
  <%= @event_attendance_entry.college_name %>
</p>

<p>
  <strong>College abbreviation:</strong>
  <%= @event_attendance_entry.college_abbreviation %>
</p>

<p>
  <strong>Class year:</strong>
  <%= @event_attendance_entry.class_year %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @event_attendance_entry.telephone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event_attendance_entry.address %>
</p>

<%= link_to 'Edit', edit_event_attendance_entry_path(@event_attendance_entry) %> |
<%= link_to 'Back', event_attendance_entries_path %>
