<%= link_to "CardSwipr", root_path, :class => 'brand' %>
<ul class="nav">
  <% if can? :read, :personlookup %>
    <li>
      <%= link_to "Person Lookup", distribution_personlookup_path %>
    </li>
  <% end %>
  <% if can? :read, :cardswipe %>
    <li>
      <%= link_to "Event Swipe In", distribution_index_path %>
    </li>
  <% end %>
  <% if can? :index, :students %>
    <li>
      <%= link_to "Event Attendance List", students_path %>
    </li>
  <% end %>

</ul>
<ul class="nav pull-right">
  <li class="">
    <%= link_to "Signed in as #{current_user.netid}", root_path if current_user %>
  </li>
</ul>