<%= link_to "Home", root_path, :class => 'brand' %>
<ul class="nav">
  <% if can? :read, :cardswipe %>
    <li>
      <%= link_to "Distribute Keys", distribution_index_path %>
    </li>
  <% end %>
  <% if can? :read, :phonebook %>
    <li>
      <%= link_to "Phonebook Lookup", distribution_phonebook_path %>
    </li>
  <% end %>
  <% if can? :read, :settings %>
    <li class="">
      <%= link_to "Settings", settings_path %>
    </li>
  <% end %>
  <% if can? :index, :students %>
    <li>
      <%= link_to "Distribution List", students_path %>
    </li>
  <% end %>

</ul>
<ul class="nav pull-right">
  <li class="">
    <%= link_to "Signed in as #{current_user.netid}", root_path if current_user %>
  </li>
</ul>