<!DOCTYPE html>
<html>
  <head>
    <title>CardSwipr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= render 'nav' %>

    <script charset='UTF-8'>
      window['adrum-start-time'] = new Date().getTime();
      (function(config){
          config.appKey = 'AD-AAB-AAU-YZZ';
          config.adrumExtUrlHttp = 'http://cdn.appdynamics.com';
          config.adrumExtUrlHttps = 'https://cdn.appdynamics.com';
          config.beaconUrlHttp = 'http://col.eum-appdynamics.com';
          config.beaconUrlHttps = 'https://col.eum-appdynamics.com';
          config.xd = {enable : false};
      })(window['adrum-config'] || (window['adrum-config'] = {}));
    </script>
 
  </head>

  <body>
    <div class="container p-1">
      <%= render 'flashes' %>
    </div>
    <%= yield %>
  </body>

  <%= render 'footer' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</html>
