<!DOCTYPE html>
<html>
  <head>
    <title>CardSwipr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= render 'nav' %>
  </head>

  <body>
    <div class="container p-1">
      <%= render 'flashes' %>
    </div>
    <%= yield %>
  </body>

  <%= render 'footer' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</html>
