<!DOCTYPE html>
<html>
  <head>
    <title>CardswiprNew</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= render 'nav' %>
  </head>

  <body>
    <%= render 'flashes' %>
    <%= yield %>
  </body>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</html>
